.container {
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pinkButton {
    background-color: var(--pink-color-1)
}

.whiteButton {
    border: 1px solid var(--white-color);
    background: transparent;
}

.grayButton {
    background-color: var(--gray-color-1)
}

.white {
    color: var(--white-color);
}

.black {
    color: var(--black-color);
}

.light_gray {
    color: var();
}

.text {
    font-family: var(--quick-sand-font-family);
    text-align: center;
    font-size: 15px;
    display: block;
}

.padding {
    padding-left: 5px;
}

.buttonHover {
    overflow: hidden;
    position: relative;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.buttonHover:hover {
    box-shadow: 0 0 10px 0 var(--pink-color-1);
    background: var(--white-color);
    color: var(--black-color);
}

.buttonHover:hover svg{
    color: var(--red-color-1) !important;
}

.buttonHover:hover span {
    color: var(--red-color-1);
}