@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Lateef', serif;
font-family: 'Playfair Display', serif;
font-family: 'WindSong', cursive; */
/*
=============== 
Global Styles
===============
*/
/* 
-FONT SIZE
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  /* root letter page */
  --border-section-main: 1px solid rgba(145, 173, 163, 0.5);
  --border-section-1: 2px solid rgba(243, 135, 35, 0.1);
  --orrange-color: rgba(243, 135, 35, 1);
  --letter-main-color: rgba(145, 173, 163, 1);
  --gray-item-color: 1px solid #c6c6c6;
  --border-img-dash: 2px dashed #828282;
  /* root home page */
  --pink-color-1: #ea4c89;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #c1c1c1;
  --gray-color-2: #e2e8f0;
  --gray-color-3: #94a3b8;
  --text-color-head: #0f172a;
  --text-color-darkmode: #131825;
  --quick-sand-font-family: "Quicksand", sans-serif;
  --lateef-font-family: "Lateef", serif;
  --wind-song-font-family: "WindSong", cursive;
  --font-size: 60px;
  --font-size-default: 16px;
  --red-color-mess-err: #ff0000;
  --bg-yellows-color: #fde9d7;
  --green-opacity-bg: #f1ede1;
  --bg-bold-green: #09102a;
  --gray-input-color: #7c7c7c;
  --gray-Dark-Dark-Mode-50: #5f626b;
  --primary-Blue-color-400: #3460dc;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Playfair Display", serif;
  color: rgba(88, 88, 88, 1);
  font-size: var(--font-size-default);
}

body::-webkit-scrollbar {
  height: 100%;
  width: 100%;
  background: var(--gray-color-3);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--pink-color-1);
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
}

.section-mb {
  /* max-width: 560px;
  margin: auto; */
}

.lateef {
  font-family: "Lateef", serif;
}

.wind-song {
  font-family: "WindSong", cursive;
}

.quick-sand {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;
}

h1 {
  /* 32px */
  font-size: 1.875rem;
}

h2 {
  /* 20px */
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
  /* 16px */
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}

/*  global classes */

.second-text-pink {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-second);
}

.icon-container {
  position: relative;
}

.icon-absolute {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link-map {
  display: block;
}

.btn-map {
  position: relative;
  background-color: #2968c7;
  color: white;
  border-radius: 40px;
}

.gg-map-icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

.border-section-1 {
  border-bottom: var(--border-section-1);
}

.border-section-main {
  border-bottom: var(--border-section-main);
}

.margin-auto {
  margin: auto;
}

.border-gray-item-color {
  border: var(--gray-item-color);
}

.bg-white {
  background-color: white;
}
.border-img-dash {
  border: var(--border-img-dash);
}
/* layout restructor */
.letter-wrapper {
  background-color: black;
}

.letter-layout {
  max-width: 560px;
  margin: auto;
  /* position: relative; */
}

.layout-mw {
  max-width: 560px;
  /* position: relative; */
  margin: auto !important;
  background-color: white;
}

.nav-btn-container {
  top: 0;
  right: 0;
}

/* SCHEDULE */
.schedule-container {
  border-bottom: 1px solid var(--main-color);
  border-width: 80%;
}

.schedule-detail-img {
  margin-left: auto;
  min-width: 55%;
}

.schedule-bg-lr {
  min-width: 50px;
}

.schedule-bg-l {
  margin-right: -16px;
}

.schedule-bg-r {
  margin-left: -16px;
}

.schedule-bg {
  min-height: 100%;
  min-width: 100%;
}

.calendar {
  max-width: 320px;
  margin: 24px auto 0;
  /* box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  /* padding: 12px; */
  border-radius: 6px 6px 0 0;
  font-size: 20px;
  font-weight: 400;
  /* background-color: #1abc9c; */
  /* color: black; */
}

.nav {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 99px;
  outline: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.datetime {
  margin: 0 auto;
  font-size: 20px;
}

.week-container,
.day-container {
  display: flex;
  flex-wrap: wrap;
}

.week-cell,
.day-cell {
  flex: 0 0 calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.day-cell {
  opacity: 0.4;
}

.day-cel--faded {
  opacity: 0.4;
}

.day-cel--today {
  border-radius: 99px;
  background-color: #1abc9c;
  color: #fff;
}

.day-cell--in-month {
  opacity: 1;
  color: #748a82;
}

.active-date {
  background-color: rgba(243, 135, 35, 1);
  color: white;
  border-radius: 50%;
}

/* .day-cell {
  &--faded {
    opacity: .4;
  }

  &--today {
    border-radius: 99px;
    background-color: #1abc9c;
    color: #fff;
  }
} */
/*  CONGRATULATION SECTION */
.href-call {
  display: flex;
  position: relative;
  justify-content: center;
  margin-left: 1.875rem;
}

.phone-container {
  position: relative;
}

.href-icon {
  position: absolute;
  animation: phoneCall 2s infinite;
  /* top: -30px; */
  left: -30px;
  /* transform: translateY(-50%); */
}

@keyframes phoneCall {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.btn-congrat-main,
.btn-congrat-second {
  border-radius: 1rem;
  color: white;
}

/* FOOTER SECTION */
.footer-container {
  position: relative;
}

.footer-icon-top {
  position: absolute;
  top: -2px;
  left: 0;
}

.footer-icon-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-qoute {
  position: absolute;
  bottom: 8rem;
}

.qoute-footer-top,
.qoute-footer-bottom {
  color: white;
  position: absolute;
  height: 50px;
}

.qoute-footer-top {
  top: -4.5rem;
  left: 0;
}

.qoute-footer-bottom {
  bottom: 0rem;
  right: 2rem;
}

.footer-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.footer-logo img {
  object-fit: cover;
}

/* MODAL COMPONENT */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  visibility: hidden;
  width: 90vw;
  animation: opacity 0.3s linear;
}

.modal.active {
  visibility: visible;
  transform: all 0.3s linear;
  opacity: 1;
  top: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  opacity: 0.3;
  z-index: 5;
}

.modal-block {
  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 100vw; */
  position: relative;
  height: 100vh;
}

.modal-content {
  /* width: 350px; */
  background-color: white;
  z-index: 5;
  position: relative;
  margin: auto;
  transform: all 2s linear;
}

.modal-sm {
  width: 350px;
}

.modal-mw {
  max-width: 560px;
  /* position: relative; */
  margin: auto !important;
}

.close-modal-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;
  width: 2.4rem;
  cursor: pointer;
}

.close-modal-icon svg {
  filter: brightness(0);
}

.index-image {
  position: absolute;
  top: 4px;
  left: 4px;
  color: white;
  z-index: 10;
  /* transform: translateX(-50%); */
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  opacity: 0.3;
  z-index: 5;
  animation: opacity 0.3s linear;
}

/* NAVIGATION */
.button-nav {
  top: 0.75rem;
  right: 0;
  z-index: 3;
}

.nav-content {
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 10;
  background-color: white;
  color: black;
  transform: translateX(100%);
  transition: all 0.3s linear;
}

.nav-content.active {
  transform: translateX(0);
}

.nav-list li {
  border-bottom: 1px solid rgba(145, 173, 163, 0.5);
}

.close-nav a {
  padding: 2rem 0.875rem;
  background-color: rgba(167, 189, 181, 0.5);
  width: 100%;
  height: 100%;
  display: block;
}

.navigate-nav a {
  padding: 0.875rem;
  display: block;
}

/* .overlay.active {
  animation: opacity 3s linear infinite;
} */

@keyframes opacity {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 0.3;
  }
}

/* IMAGE GALLERY */
.gallery-image {
  /* height: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 0.25rem;
}

.gallery-image img {
  width: 100%;
}

.gallery-container {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  flex-wrap: wrap;
}

.gallery-img {
  /* width: 100%; */
  min-width: 33.33%;
  padding-top: 33.33%;
  position: relative;
  overflow: hidden;
}

.gallery-img div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.25rem;
}

.gallery-img div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-gallery-container {
  /* height: 80vh; */
  z-index: 12;
}

.casourel {
  height: 100vh;
}

.preview-image {
  /* display: flex; */
  overflow-x: scroll;
}

.my-carousel {
  overflow: hidden;
}

/* MUSIC PLAYER */
.icon-music {
  width: 3rem;
  height: 3rem;
  color: var(--main-color);
}

.section_wrap_type_ds {
  background-color: var(--gray-color-2);
  padding: 70px 0;
}

.section_wrap_type_ds .head h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  color: var(--text-color-head);
  margin-bottom: 40px;
}

.slide-track {
  display: flex;
  gap: 30px;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow-x: scroll;
  margin-bottom: 40px;
}

.slide-track::-webkit-scrollbar {
  height: 5px;
  width: 100%;
  background: var(--gray-color-3);
  border-radius: 10px;
}

.slide-track::-webkit-scrollbar-thumb {
  background: var(--pink-color-1);
  border-radius: 10px;
}

.slide-track .slide-item {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 23.5%;
  width: 100%;
  margin-bottom: 20px;
}

.slide-track .slide-item .box-image {
  background: var(--white-color);
}

.slide-track .slide-item .box-image img {
  width: 100%;
  object-fit: contain;
}

.slide-track .slide-item .title span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--pink-color-1);
  font-family: var(--quick-sand-font-family);
}

.slide-track .slide-item .title {
  margin: 10px 0;
}

.slide-track .slide-item .title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: var(--text-color-head);
}

.bottom-button-click {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

/*********************************Footer*****************************/

.footer {
  background-color: var(--bg-bold-green);
  padding: 50px 0;
  color: var(--white-color);
}

.footer .component_ShowInf_Company h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.footer .component_ShowInf_Company {
  font-family: var(--quick-sand-font-family);
}

.footer .component_ShowInf_Company .infomationDetails p {
  margin-bottom: 0;
}

.footer .component_ShowInf_Company .infomationDetails .contact {
  margin: 20px 0;
}

.footer .component_ShowInf_Company .infomationDetails .contact p {
  line-height: 2;
}

.footer .component_ShowInf_Company .infomationDetails .contact_phone {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.divided-right {
  border-right: 1px solid var(--white-color);
}

.backgroundFromUser {
  background: var(--text-color-darkmode);
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.backgroundFromUser .userFields_head {
  flex: 1 0;
  width: auto;
}

.backgroundFromUser .userFields_head h1 {
  font-family: var(--quick-sand-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -0.023em;
  color: var(--white-color);
  text-transform: uppercase;
}

.backgroundFromUser .fillDataForm {
  flex: 1 0;
  width: auto;
  margin-top: 20px;
}

.form-control {
  padding: 0 20px !important;
  background: var(--white-color) !important;
  color: var(--black-color) !important;
  font-family: var(--quick-sand-font-family);
}

.form-control::placeholder {
  color: var(--gray-input-color) !important;
}

.forgotPwd {
  text-align: right;
  margin: 10px 0;
  color: var(--white-color);
}

.otherLoginSocial {
  display: grid;
  gap: 20px;
}

.otherLoginSocial .titleOrther {
  text-align: center;
  position: relative;
  margin-top: 40px;
}

.otherLoginSocial .titleOrther span {
  color: var(--white-color);
  height: 24px;
  width: 100px;
  font-family: var(--quick-sand-font-family);
  font-style: normal;
  font-weight: 600;
  background: var(--text-color-darkmode);
  display: block;
  overflow: hidden;
  z-index: 9999;
  margin: auto;
  position: relative;
}

.otherLoginSocial .titleOrther::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background: var(--white-color);
  top: 0;
  bottom: 0;
  margin: auto;
}

.footerFormData {
  background-color: var(--pink-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 15px;
}

.footerFormData a {
  color: var(--white-color);
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  font-family: var(--quick-sand-font-family);
}

.main-form-user {
  display: grid;
  max-width: 550px;
  margin: auto;
}

.bg_form {
  background: linear-gradient(
      to bottom,
      rgb(173 77 95 / 22%),
      rgb(185 130 130 / 15%)
    ),
    url("/src/assets/home-image/Bg_Banner.png");
  background-size: cover;
  background-position: center;
  padding: 100px 15px;
}

.btn-back a {
  display: flex;
  align-items: center;
  color: var(--white-color);
  margin-bottom: 30px;
}

.btn-back a:hover svg {
  margin-left: -10px;
  transition: all 0.5s ease-out;
}

.btn-back a:hover span {
  margin-left: -10px;
  transition: all 0.5s ease-out;
  color: var(--pink-color-1);
}

.btn-back svg {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: all 0.5s ease-out;
}

.btn-back span {
  font-family: var(--quick-sand-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.023em;
  text-align: left;
  transition: all 0.5s ease-out;
}

.btn_box_create {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 45px;
  border: 1px dashed var(--gray-color);
  border-radius: 15px;
  flex-direction: column;
  max-width: 400px;
  margin: 60px 0;
}

.btn_box_create img {
  max-width: 50px;
  margin-bottom: 20px;
}

.btn_box_create h2 {
  font-family: var(--quick-sand-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: var(--black-color);
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th {
  border-bottom: 2px solid var(--gray-color-2);
  font-family: var(--quick-sand-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
  text-transform: uppercase;
}

table .formatnotColor {
  font-style: normal;
  font-weight: 600;
  font-family: var(--quick-sand-font-family);
  font-size: 17px;
}

table .payment {
  color: var(--red-color-mess-err);
}

table .complete {
  color: var(--primary-Blue-color-400);
}

table .autodelete,
table .onlydateplus {
  font-family: var(--quick-sand-font-family);
}

table .date {
  font-style: normal;
  font-weight: 600;
  font-family: var(--quick-sand-font-family);
  font-size: 18px;
  color: var(--black-color);
}

.navbar-toggler svg {
  width: 30px;
  height: 30px;
  color: var(--white-color);
}

.navbar_collapse .active {
  color: var(--pink-color-1) !important;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.Notfound {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Notfound .number {
  background: #fff;
  position: relative;
  font: 900 30vmin "Consolas";
  letter-spacing: 5vmin;
  text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f,
    8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f,
    14px -7px 0 #242424, 16px -8px 0 #292929;
}

.Notfound .number::before {
  background-color: #673ab7;
  background-image: radial-gradient(
      closest-side at 50% 50%,
      #ffc107 100%,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(closest-side at 50% 50%, #e91e63 100%, rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  background-size: 40vmin 40vmin;
  background-position: -100vmin 20vmin, 100vmin -25vmin;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  -webkit-animation: moving 10s linear infinite both;
  animation: moving 10s linear infinite both;
  display: block;
  position: absolute;
  content: "";
}

.Notfound .backlink {
  display: flex;
  margin-top: 50px;
  font-size: 20px;
  gap: 20px 20px;
  align-items: center;
  transition: all 1s ease-in-out;
}

.Notfound .backlink:hover {
  color: var(--pink-color-1);
  margin-left: -20px;
  transition: all 1s ease-in-out;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 9999999;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  left: -200px;
  box-sizing: border-box;
  animation: shadowRolling 1.5s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 #ea4c89, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 #ea4c89, 100px 0 #ea4c89, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 #ea4c89, 110px 0 #ea4c89, 100px 0 #ea4c89, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 #ea4c89, 120px 0 #ea4c89, 110px 0 #ea4c89, 100px 0 #ea4c89;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #ea4c89, 120px 0 #ea4c89, 110px 0 #ea4c89;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #ea4c89, 120px 0 #ea4c89;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #ea4c89;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

@keyframes moving {
  to {
    background-position: 100vmin 20vmin, -100vmin -25vmin;
  }
}

.text {
  font: 400 5vmin "Courgette";
}

.text span {
  font-size: 10vmin;
}

@media (min-width: 991px) {
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
  .section_wrap_type_ds .head h2 {
    font-size: 25px;
  }

  .slide-track .slide-item {
    max-width: 70%;
  }

  .section_wrap_type_ds {
    padding: 30px 15px;
  }

  .footer {
    padding: 20px 15px;
  }

  .divided-right {
    border: none;
  }

  .logo_footer {
    margin-top: 30px;
  }

  .wrapper_box_create .container {
    padding: 0 15px;
  }

  .bg_form {
    padding: 15px 15px;
  }
}
